.brand {
  text-transform: uppercase;
  color: darkred;
  font-size: 20px;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  justify-content: space-between;
  gap: 2rem;
  display: flex;
}

nav a {
  color: black;
  font-size: 15px;
  font-family: sans-serif;
}
